{% load staticfiles %}


<html>
<head>
  <title>HCshare</title>
	<link rel="stylesheet" href="{% static 'css/mixshare.css' %}">
</head>
<body>
  <div class="nav">
    <ul>
      <li><a href="{% url 'post_new' %}" class="top-menu">登録</a></li>
      <li><a href="#" class="top-menu">再生順</a></li>
      <li><a href="#" class="top-menu">新着順</a></li>
      <li><a href="#" class="top-menu">Like順</a>順</a></li>
      <li><a href="#" class="top-menu">Repost順</a></li>
    </ul>
  </div>

  <div class="">
    <h1>HC Share!!!</h1>
  </div>

  <div>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
